.wrapper {
  width: 300px;
  height: 300px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;

  background-color: #333
  color: #fff;
  border: 1px solid #000;
  padding: 10px 20px;
}

.image {
  width: 190px;
  height: 190px;
  float: right;

  background-color: #f00;
  margin-right: 10px;
}
