.wrapper{
    width: 300px;
    height: 300px;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: #333;
    color: white;
    border: 1px solid #000;
    padding: 10px 20px;
}

.image{
    width: 190px;
    height: 190px;
    float: left;
    background-color: #f00;
    margin-right: 10px;
}